html, body, h1, h2, h3, p, div, ol {
    border: 0;
    padding: 0;
    margin: 0;
    
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(121, 121, 121);
    background: url(./images/background.jpg) no-repeat center center fixed;
}
div {
    display: block;
    text-align: center;
    
}
li {
    display: inline;
    margin: 10px;
    width: 0 auto 0 auto;
    color: aqua;
    font-weight: bold;
}
ol {
    display: block;
    text-align: center;
    font-size: large;
    background-color: rgb(53, 53, 53);
    margin: none;
    padding: 10px 16px;
    width: auto;
    height: 100% 
}
h1 {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
}
h2 {
    display: block;
    color: aqua;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}
p {
    display: block;
    text-align: left;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: auto 425px auto 425px;
}
a {
    text-decoration: none;
    color: aqua;
}
p.life {
    text-align: center;
}
div.main-content {
    background-color: grey;
    position: relative;
    width: 450px;
    height: auto;
    margin: auto;
    margin-top: 0;
}
p.centered {
    display: inline-block;
    text-align: left;
    margin: auto;
    padding: 15px;
}
div.main-content a {
    color: hotpink;
}